<div> 
  Today's date :- {{presentDate}} 
</div>
<hr>
<div> 
  Today's date :- {{presentDate | date }}
</div>
<hr>
<div> 
  This is a short date :- {{presentDate | date:'shortDate'}} <br>
  This line shows the full date :- {{presentDate | date:'fullDate'}} <br>
  This will show a formatted date :- {{presentDate | date:'M/dd/yyyy'}}<br>
  This indicates the hours and minutes :- {{presentDate | date:'h:mm'}}<br>
  This indicates the long date :- {{presentDate | date:'longDate'}}<br>
  Reuel Christian Sundiam
</div>
<hr>
<div>
  Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br>
  Date with lowercase :- {{presentDate | date:'medium' | lowercase}} <br>
  Date with capitalized :- {{presentDate | date: 'fullDate' | titlecase}}
</div>
<hr>
<div>
  Seconds changing in Time: {{time$ | async | date:'mediumTime'}}<br>
  Seconds changing in Time with Time Zone: {{time$ | async | date:'fullTime'}}
</div>
<hr>
<div>
  <h2>Json Pipes!</h2>
  <p>Object: {{testObject}}</p>
  <p>Object with JsonPipe: {{testObject | json}}</p>
  <p>array: {{testArray}}</p>
</div>
<hr>
<div>
  <h3>Currency Pipe</h3>
  <p>{{price | currency:'':true}}</p>
  <p>{{price | currency:'PHP'}}</p>
  <p>{{ price | currency: 'CAD ' : 'code' }}</p>
</div>
<hr>
<div>
  <h3>Start index:- {{Fruits | slice:2}}</h3>
  <h4>Start and end index:- {{Fruits | slice:1:4}}</h4>
  <h5>Negative index:- {{Fruits | slice:-2}}</h5>
  <h6>Negative start and end index:- {{Fruits | slice:-4:-2}}</h6>
  <p>{{ str }}[0:4]: '{{ str | slice: 0 : 4 }}' - output is expected to be 'abcd'</p>
</div>
<hr>
<div>
  <p>Apply formatting:- {{decimalNum1 | number:'3.1'}}</p>
  <p>Apply formatting:- {{decimalNum1 | number:'2.1-4'}}</p>
  <p>Apply formatting:- {{decimalNum2 | number:'3.1'}}</p>
  <p>Apply formatting:- {{decimalNum2 | number:'2.1-4'}}</p>
  <p>Apply formatting: add 4 decimal places at the start - {{ pi | number: '4.1-5' }}</p>
</div>
<router-outlet />
